################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotnetCoreMicroservices/obj
/DotnetCoreMicroservices/bin
/.vs/DotnetCoreMicroservices
*.user
